A:visited	{ color: #ffba16; text-decoration: underline; font-weight: bold;}
A:hover	{ color: #ffffff; text-decoration: underline; font-weight: bold;}
span			{ font-family: tahoma, Arial,Helvetica,Sans-Serif; color: #ffffff; font-size: 9pt; }
td			{ font-family: tahoma, Arial,Helvetica,Sans-Serif; color: #ffffff; font-size: 7pt; }
select {background-color: #101010; color: #ffd200; font-family: tahoma, Arial,Helvetica,Sans-Serif; font-size: 11pt; font-weight: bold;}
/*
     FILE ARCHIVED ON 22:21:20 Apr 21, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:16:35 Aug 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 360.815 (4)
  exclusion.robots: 0.213
  load_resource: 80.357
  CDXLines.iter: 23.83 (3)
  captures_list: 402.981
  LoadShardBlock: 363.002 (3)
  exclusion.robots.policy: 0.2
  PetaboxLoader3.resolve: 77.062 (2)
  RedisCDXSource: 10.67
  esindex: 0.015
*/